// https://www.materialpalette.com/light-green/pink

// Texts
$primary-text: #212121;
$secondary-text: #757575;

// Backgrounds
$primary-bg: #8BC34A;
$primary-light-bg: #DCEDC8;
$primary-dark-bg: #689F38;
$primary-button-bg: #FF4081;
