<div class="container-fluid bg-primary py-1">
  <div class="row">
    <div class="col d-flex align-items-center">
      <a routerLink="/" class="link-light">Marketplace</a>
    </div>
    <div class="col-10"></div>
    <div class="col">
      <a routerLink="/basket" class="btn btn-link text-white float-end position-relative">
        <span class="material-symbols-outlined">shopping_basket</span>
        <span class="badge bg-secondary position-absolute top-0 start-50 rounded-pill">{{basketStore.basket.length}}</span>
      </a>
    </div>
  </div>
</div>
